<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>领养查询页面</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/> 
<script type="text/javascript" th:src="@{js/jquery-1.11.0.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript">
	$(function() {
				$districtType = $("#districtType");
				$provinceType = $("#provinceType");
				$cityType = $("#cityType");
				  $.ajax( {
				        url : "/selectProvince",//省份的地址
				        type : 'post',
				        dataType:'json',
				        success : function(data) {
				        //	console.log(data);
				            $.each(data, function (i, item) {//data为所有的数据，i表示编号，item表示第i行的数据
				                $('#provinceType').append('<option value="'+data[i].dict_id+'">'+data[i].dict_item_name+'</option>');
				            });
				        },
				        error :function (data) {
				            $("#provinceType").append("<option value='1'>加菲猫</option>").append("<option value='2'>汤姆猫</option>");
				        }
				    });
						
				$familyType = $("#familyType");
				$familyType.on("change", function() {
					//获取该种类
					var family = $("#familyType option:selected").val();
					console.log(family);
					//这里的error : function(data){}要去掉，只是用来做测试数据写入
					//ajax
					$.ajax({
						url : "/selectkind?dict_item_code="+family,//品种的地址
						type : 'post',
						dataType : 'json',
						success : function(data) {
							$('#kindType').empty();
							$('#kindType').append('<option value="">'+  '— 选择品种 — '+ '</option>');
							$.each(data, function(i, item) {//data为所有的数据，i表示编号，item表示第i行的数据
								$('#kindType').append(
										'<option value="'+data[i].dict_id+'">'
												+ data[i].dict_item_name
												+ '</option>');
							});
						},
						error : function(data) {
							$("#kindType").append(
									"<option value='1'>加菲猫</option>").append(
									"<option value='2'>汤姆猫</option>");
						}
					});
				})
				
				

				$provinceType.on("change", function() {
					//获取当前选中的省份
					var provinceId = $("#provinceType option:selected").val();
					console.log(provinceId);
					//ajax
					$.ajax({
						url : "/selectCity?dict_item_code="+provinceId,//上传到后台的地址
						type : 'get',
						dataType : 'json',
						success : function(data) {
							//console.log(data);
							$('#cityType').empty();
							$('#cityType').append('<option value="">'+  '— 选择城市 — '+ '</option>');
							$.each(data, function(i, item) {//data为所有的数据，i表示编号，item表示第i行的数据
								$('#cityType').append(
										'<option value="'+data[i].dict_id+'">'
												+ data[i].dict_item_name
												+ '</option>');
							});
						},
						error : function(data) {
							$("#cityType").append(
									"<option value='1'>广州</option>").append(
									"<option value='2'>深圳</option>");
						}
					});
				})
				

				$cityType.on("change", function(){
					//获取当前选中的省份
					var cityId = $("#cityType option:selected").val();
					console.log(cityId);
			 $.ajax({
					url : "/selectDistrict?dict_item_code="+cityId,//上传到后台的地址
					type : 'get',
					dataType : 'json', 
					//data:{'dict_item_code':4},
					success : function(data) {
						$('#districtType').empty();
						$('#districtType').append('<option value="">'+  '— 选择城市 — '+ '</option>');
						$.each(data, function(i, item) {//data为所有的数据，i表示编号，item表示第i行的数据
							$('#districtType').append(
									'<option value="'+data[i].dict_id+'">'
											+ data[i].dict_item_name
											+ '</option>');
						});
					},
					error : function(data) {
						$("#districtType").append(
								"<option value='1'>荔湾区</option>").append(
								"<option value='2'>宝安区</option>");
					}
				});
		})
	})
</script>      
<script type="text/javascript">
$(document).ready(function(){
	queryPet();
});
function queryPet(){
			$.post("/pet/queryPet",null,
					function(data){ 
				var lists=data.list;
        		pageinfo=data;
				page=pageinfo.pageNum;
				pages=pageinfo.pages;
				 $("#pageLabel").html("当前第" + pageinfo.pageNum + "页");
				 $("#pagesLabel").html("当前第" + pageinfo.pages + "页");
				$.each(lists,function(){
					var tr  = $("<tr align='center'/>");								
					$("<td/>").html(this.p_code).appendTo(tr);
					$("<img id='img'/>").attr("src",""+ this.p_img).attr("height",100).appendTo("<td/>").appendTo(tr);
		            $("<td/>").html(this.p_family).appendTo(tr);
		            $("<td/>").html(this.p_sex).appendTo(tr);
		            $("<td/>").html(this.p_characteristic).appendTo(tr);
		            $("<td/>").html(this.p_kind).appendTo(tr);
		            $("<td/>").html(this.p_province).appendTo(tr);
		            $("<td/>").html(this.p_city).appendTo(tr);
		            $("<td/>").html(this.p_district).appendTo(tr);
		            $("<td/>").html(this.tt_name).appendTo(tr);
		            $("<td/>").html(this.description).appendTo(tr);
		           $("<td/>").html(this.p_date).appendTo(tr);
		            $("#adopttable").append(tr);
		        })
			},"json");	
}	
</script>
<script type="text/javascript">
$(function(){
		$('#findPet').click(function(){
			var $p_code = $("#p_code").val();
			var $tt_name = $("#tt_name").val();
			var familyId = $("#familyType option:selected").val();
			var sexId = $("#sexType option:selected").val();
			var kindId = $("#kindType option:selected").val();
			var characteristicId = $("#characteristicType option:selected").val();
			var provinceId = $("#provinceType option:selected").val();
			var cityId = $("#cityType option:selected").val();
			var districtId = $("#districtType option:selected").val();
			$("#adopttable tr:not(:first)").empty("");
			$.post("/pet/findPet",{
				p_code:$p_code,
				tt_name:$tt_name,
			 	p_family:familyId,
				p_sex:sexId,
				p_kind:kindId,
				p_characteristic:characteristicId,
				p_province:provinceId,
				p_city:cityId,
				p_district:districtId, 
				},
				function(data){ 
				$.each(data,function(){
					var tr  = $("<tr align='center'/>");
					$("<td/>").html(this.p_code).appendTo(tr);
					$("<img id='img'/>").attr("src",""+this.p_img).attr("height",100).appendTo("<td/>").appendTo(tr);
		            $("<td/>").html(this.p_family).appendTo(tr);
		            $("<td/>").html(this.p_sex).appendTo(tr);
		            $("<td/>").html(this.p_kind).appendTo(tr);
		            $("<td/>").html(this.p_characteristic).appendTo(tr);
		            $("<td/>").html(this.p_province).appendTo(tr);
		            $("<td/>").html(this.p_city).appendTo(tr);
		            $("<td/>").html(this.p_district).appendTo(tr);
		            $("<td/>").html(this.tt_name).appendTo(tr);
		            $("<td/>").html(this.description).appendTo(tr);
		            $("<td/>").html(this.p_date).appendTo(tr);
		            $("#adopttable").append(tr);
		        })
			},"json");	
		})
 }) 
</script>
<script type="text/javascript">	
$(document).ready(function(){
        var $beforeBtn = $("#beforeBtn");
        var $afterBtn = $("#afterBtn");    
        
        $beforeBtn.click(function () {	
        	$.post("/pet/queryPet?",{"page": page},
    				function(data){
        		var lists=data.list;
        		pageinfo=data;
    			$("#adopttable tr:not(:first)").empty("");
    			$.each(lists,function(){
    				var tr  = $("<tr align='center'/>");				
					$("<td/>").html(this.p_code).appendTo(tr);
					$("<img/>").attr("src",""+ this.p_img).attr("height",80).attr("width",100).appendTo("<td/>").appendTo(tr);
		            $("<td/>").html(this.p_family).appendTo(tr);
		            $("<td/>").html(this.p_sex).appendTo(tr);
		            $("<td/>").html(this.p_kind).appendTo(tr);
		            $("<td/>").html(this.p_characteristic).appendTo(tr);
		            $("<td/>").html(this.p_province).appendTo(tr);
		            $("<td/>").html(this.p_city).appendTo(tr);
		            $("<td/>").html(this.p_district).appendTo(tr);
		            $("<td/>").html(this.tt_name).appendTo(tr);
		            $("<td/>").html(this.description).appendTo(tr);
		            $("<td/>").html(this.p_date).appendTo(tr);
		            $("#adopttable").append(tr);
    	        })
    		},"json");	  
        	

               if (page == pages) {
                   $afterBtn.attr({hidden: "hidden"});
                  $("#pageLabel").html("当前第" + page + "页");
                   $beforeBtn.removeAttr("hidden");
                   page = parseInt(page) - 1;
                   
               } else if(parseInt(page) <= 1){
            	   $beforeBtn.attr({hidden: "hidden"});
            	   $afterBtn.removeAttr("hidden");
             	  page = 1;
             	 $("#pageLabel").html("当前第1页");
               }
               else{
            	 
            	   $beforeBtn.removeAttr("hidden");
             	  $afterBtn.removeAttr("hidden");
                   $("#pageLabel").html("当前第" + page + "页");
                   page = parseInt(page) - 1;
               }
           })
    
         
        
		$('#afterBtn').click(function(){
		$.post("/pet/queryPet?",{"page": page},
				function(data){
			var lists=data.list;
    		pageinfo=data;
			$("#adopttable tr:not(:first)").empty("");
			$.each(lists,function(){
				var tr  = $("<tr align='center'/>");			
				$("<td/>").html(this.p_code).appendTo(tr);
				$("<img/>").attr("src",""+ this.p_img).attr("height",80).attr("width",100).appendTo("<td/>").appendTo(tr);
	            $("<td/>").html(this.p_family).appendTo(tr);
	            $("<td/>").html(this.p_sex).appendTo(tr);
	            $("<td/>").html(this.p_kind).appendTo(tr);
	            $("<td/>").html(this.p_characteristic).appendTo(tr);
	            $("<td/>").html(this.p_province).appendTo(tr);
	            $("<td/>").html(this.p_city).appendTo(tr);
	            $("<td/>").html(this.p_district).appendTo(tr);
	            $("<td/>").html(this.tt_name).appendTo(tr);
	            $("<td/>").html(this.description).appendTo(tr);
	            $("<td/>").html(this.p_date).appendTo(tr);
	            $("#adopttable").append(tr);
	        })
		},"json");
		
		
		  console.log(page);
          console.log(pages);
      
          $("#page").html(page);        
          if (page == pages) {
              $afterBtn.attr({hidden: "hidden"});
              $beforeBtn.removeAttr("hidden");
              $("#pageLabel").html("当前第" + page + "页");
          } else if(parseInt(page) <= 1){
        	//  page = 1;
        	  $beforeBtn.attr({hidden: "hidden"});
        	  $afterBtn.removeAttr("hidden");	
          	$("#pageLabel").html("当前第1页");
          	page = parseInt(page) + 1;
          }
          else{ 
        	  $beforeBtn.removeAttr("hidden");
        	  $afterBtn.removeAttr("hidden");
             $("#pageLabel").html("当前第" + page + "页");
             page = parseInt(page) + 1;
          }
         
         
})
})
</script>
<style>

    img{
              width: 100px;
              height:80px;
              margin:auto auto; 
              position:relative;
         
		}
		
	#img img{
	         width: 100%;
	         transition:all;
	         position: absolute;
	    	 }
	img:hover{
         cursor: crosshair;
            width: 500px;
            height:400px;        
       	 } 
input{
width:120px;
height:20px;
}
select{
width:100px;
height:20px;
}
</style>
</head>
<body>
	<div class="panel panel-primary">
				<!-- .panel-heading 面板头信息。 -->		
				<div class="panel-heading">
					<!-- .panel-title 面板标题。 -->		
			  	  <h3 class="panel-title">领养信息列表</h3>
			  </div>
			 		   <a style="padding-left:1100px" href="gt_user">返回个体用户主页</a>
			  </div>
	<!-- .container 类用于固定宽度并支持响应式布局的容器。 -->
	<div class="container">
		<div class="col-md-12">
			  <div class="panel-body">
				<!-- table-responsive:响应式表格,在一个表展示所有的数据,当不够显示的时候可以左右滑动浏览-->
				<div class="table table-responsive">
					<!--
						 .table 类可以为其赋予基本的样式 — 少量的内补（padding）和水平方向的分隔线。
	                	.table-bordered 类为表格和其中的每个单元格增加边框。
	                	.table-hover 类可以让 <tbody> 中的每一行对鼠标悬停状态作出响应。
	                -->
	                	<input id="p_code" type="text" name="p_code" placeholder="请输入宠物编码">
	                	<input id="tt_name" type="text" name="tt_name" placeholder="请输入所在机构名">
	                	<select id="provinceType" name="provinceType" >
					            <option value=''> — 选择省份 — </option>
					  	</select>
						<select id="cityType" name="cityType" >
					            <option value=''> — 选择城市 — </option>
					  	</select>
						<select id="districtType" name="districtType">
					            <option value=''> — 选择区域 — </option>
					  	</select> 
						<select id="familyType" name="familyType">             
							<option value=''>— 选择科属 —</option>
							<option value="12">犬科</option>
							<option value="13">猫科</option>   
						</select>
						<select id="kindType" name="kindType" >
					            <option value=''> — 选择品种— </option>
					  	</select>
						<select id="sexType" name="sexType">             
							<option value=''>— 选择性别 —</option> 
							<option value="25">公</option>
							<option value="24">母</option>   
						</select>
						<select id="characteristicType" name="characteristicType">   		         
							<option value=''>— 选择特征 —</option>
							<option value="23">短毛</option>
							<option value="22">长毛</option>   
						</select>
					 <button id="findPet">查询</button>                               
					<table class="table table-bordered table-hover" id="adopttable">
						<thead>
							<tr>
						
							<th class="text-center">编号</th>
							<th class="text-center">宠物相片</th>
							<th class="text-center">科属</th>	
							<th class="text-center">性别</th>
							<th class="text-center">特征</th>
							<th class="text-center">品种</th>
							<th class="text-center">省份</th>
							<th class="text-center">城市</th>
							<th class="text-center">区域</th>
							<th class="text-center">所在机构</th>
							<th class="text-center">对它的描述</th>
							<th class="text-center">记录日期</th>
							</tr>				
						</thead>
						<tbody class="text-center"></tbody>
						
					</table>
				<div>
					<label id="page" hidden="hidden"  th:text="${page}"></label>
   				    <label id="pages" hidden="hidden" th:text="${pages}"></label> 
					<button id="beforeBtn">上一页</button>
 				 	<label id="pageLabel" th:text="'当前第' + ${page} + '页'"></label> 
              		<!-- <span th:text="${pageInfo.getList()}"></span> -->
              		<button id="afterBtn">下一页</button>
              		<br/>
              		<label id="pagesLabel" th:text="'共' + ${pages} + '页'"></label> 
				</div>
				</div>
			</div>
			</div>
		</div>
	
</body>
</html>