<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>猫狗相关知识科普</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/> 
<script type="text/javascript" th:src="@{js/jquery-1.11.0.min.js}"></script>

<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

</head>
<body>
	<div class="panel panel-primary">
				<!-- .panel-heading 面板头信息。 -->		
				<div class="panel-heading">
					<!-- .panel-title 面板标题。 -->		
			  	  <h3 class="panel-title">猫狗相关知识科普页面</h3>
			  </div>
			  <a style="padding-left:1100px" href="gt_user">返回个体用户主页</a>
	 </div>
	 

	<div class="container">
		<div class="col-md-12">
			
			  <div class="panel-body">
				<!-- table-responsive:响应式表格,在一个表展示所有的数据,当不够显示的时候可以左右滑动浏览-->
				<div class="table table-responsive">
				<table>
				<tr>
					<td><img src="img/Knowledge1.png"></td>
					<td><img src="img/Knowledge2.png"></td>
					</tr>
					</table>
	  
									
						
					
				</div>
			</div>
			</div>
		</div>

</body>
</html>